* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/white-wood.png");
}

.products-grid {
  background-color: blue;
  background-image: url("/images/blue_wood.jpg");
  border-radius: 1rem;
  -webkit-box-shadow: 1vw 1vh 0.5rem #777;
          box-shadow: 1vw 1vh 0.5rem #777;
  list-style: none;
  height: 70vh;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 5vw;
}

.products-grid::before {
  position: absolute;
  background: radial-gradient(circle, #4967ff 30%, #fe6181 80%);
  opacity: 0.3;
  border-radius: inherit;
  height: inherit;
  width: inherit;
  content: '';
}

.products-grid li {
  background-color: crimson;
  border-radius: 3rem/4rem;
  height: 30vh;
  width: 32vw;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.grid-parent {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'product-a product-b' 'product-c product-d';
  grid-column: 1fr 1fr;
  grid-row: 1fr 1fr;
}

.product-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: product-a;
}

.product-b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: product-b;
}

.product-c {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: product-c;
}

.product-d {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: product-d;
}
