* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF9FF;
  direction: rtl !important;
  text-align: right;
  background-color: #222;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 95vw;
  background-color: #FFF9FF;
  margin: 10vh auto 0 auto;
}

.flex div {
  width: 16rem;
  height: 16rem;
  margin: 2% 1%;
  background-image: radial-gradient(rgba(30, 30, 36, 0.4), rgba(30, 30, 36, 0.7));
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.circle1,
.circle2 {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}
